In [1]:
import pandas as pd
import pandas_datareader.data as web
import datetime
import statsmodels.api as sm
from statsmodels.tsa.api import VAR
from statsmodels.tsa.vector_ar.var_model import VARProcess
import statsmodels.api as sm
import numpy as np
from preproccessing import loadStooqData, loadYahooData
import matplotlib.pyplot as plt
import seaborn as sns

In [12]:
tickers = ['IRLTLT01USQ156N','IR3TIB01USQ156N','CPALTT01USQ657N',"NGDPRSAXDCUSQ","CLVMNACSCAB1GQPL", 'CPALTT01PLQ657N', "IRLTLT01PLM156N", "IR3TIB01PLM156N"]
start = datetime.datetime(1998, 1, 1)

end = datetime.datetime(2024, 4, 30)

df = web.DataReader(tickers, 'fred', start,end)

In [13]:
df

,IRLTLT01USQ156N,IR3TIB01USQ156N,CPALTT01USQ657N,NGDPRSAXDCUSQ,CLVMNACSCAB1GQPL,CPALTT01PLQ657N,IRLTLT01PLM156N,IR3TIB01PLM156N
DATE,,,,,,,,
1998-01-01,5.586667,5.553333,0.268373,3175935.5,223191.8,1.8,NaN,24.98
1998-02-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,23.59
1998-03-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,24.19
1998-04-01,5.596667,5.590000,0.535310,3205334.8,223223.1,0.5,NaN,22.74
1998-05-01,NaN,NaN,NaN,NaN,NaN,NaN,NaN,21.60
...,...,...,...,...,...,...,...,...
2023-12-01,NaN,NaN,NaN,NaN,NaN,NaN,5.21,5.85
2024-01-01,4.160000,5.256667,1.042576,NaN,560260.3,NaN,5.24,5.87
2024-02-01,NaN,NaN,NaN,NaN,NaN,NaN,5.36,5.86
2024-03-01,NaN,NaN,NaN,NaN,NaN,NaN,5.40,5.86
2024-04-01,NaN,NaN,NaN,NaN,NaN,NaN,5.67,5.86